/* 국문 */
@font-face {
    font-family: 'suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 영문 */
@font-face {
    font-family: 'G';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
ol,ul,li{
    list-style: none;
}
*{
    padding: 0;
    margin: 0;
}
ul::after,li::after,.wrap::after{
    content: "";
    clear: both;
    display: block;
}
.wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px; 
}
.kr{
    font-family: "suit";
}
.en{
    font-family: "G";
}
.bold{
    font-weight: bold;
}
.blind{
    font-size: 0;
    text-indent: -999999px;
    overflow: hidden;
}

header nav{
    background-color: #0e67a3;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    line-height: 40px;
}
header .mnb ul li{
    float: left;
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 600;
}
header .mnb ul li a{
    margin: 0 30px;
    display: block;
}
header .snb ul li{
    width: 77px;
    height: 30px;
    border-radius: 20px;
    float: left;
    margin-left: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
}

header .snb ul li:first-child{
    background-color: #9ea2a3;
}
header .snb ul li:nth-child(2){
    background-color: #00cd00;
}
header .snb ul li:last-child{
    background-color: #1773b6;
}

header .snb ul::after{
    display: none;
}
header .wrap .flex{
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* main */
#main{
    height: 830px;
    background-color: #9cb9c1;
}
#main .slide .rarea img{
    width: 700px;
}
#main .slide .rarea{
    position: absolute;
    top: 100px;
    right: -40px;
}
#main .slide .ment{
    position: absolute;
    top: 180px;
    left: 0;
    color: #fff;
}
.ment h3{
    font-size: 16px;
    margin: 15px 0;
}
.ment h4{
    font-size: 50px;
    margin-bottom: 30px;
}
.ment p{
    font-size: 13px;
    line-height: 1.5;
    margin: 15px 0;
}
.ment p:last-child{
    margin: 20px 0;
}
.ment img{
    margin-right: 10px;
    width: 40px;
    float: left;
}
.ment p:nth-of-type(2){
    margin-bottom: 50px;
}
.ment a p{
    line-height: 40px;
}
#main ul li{
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    text-indent: -30px;
    overflow: hidden;
    margin: 0 2px;
}
#main ul li{
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
}
.rarea ul li a{
    display: block;
}
#main ul li:nth-child(2){
    background-color: #fff;
}
#main .rarea ul{
    position: absolute;
    top: 350px;
    left: 100px;
}
/* content */
#content{
    padding: 70px 0 100px;
    
}
#content .wrap h3{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
}

#content .wrap .int a img{
    float: left;
    width: 40px;
}
#content .wrap .int a p{
    display: inline;
    line-height: 45px;
    color: #333333;
}

#content .wrap .int{
    position: absolute;
    top: 0;
    right: 0;
}
#content .wrap .img_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}
#content .wrap .img_box a p{
    font-family: 'suit';
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}
#content .wrap .img_box span{
    font-family: "G";
    font-size: 16px;
}
/* int */
#int{
    background: #f3f3f3;
    padding: 100px 0 70px;
}
#int .wrap .ment dl{
    font-size: 30px;
    font-family: "suit";
    text-align: center;
    color: #333;
}
#int .wrap .ment dl dt{
    margin-bottom: 20px;
}
#int .wrap .ment dl dd{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 50px;
}
#int .wrap .img_box1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "suit";
    color: #333;
}
#int .wrap .img_box1 img{
    margin-bottom: 10px;
}
/* FAQ */
#FAQ{
    padding: 60px 0 80px ;
}
#FAQ .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#map{
    background:#42474d url(../images/map.jpg) no-repeat right;
    height: 615px;
}
#map .wrap article{
    color: #fff;
}
#map .wrap article h3{
    font-size: 30px;
    font-weight: normal;
    margin: 120px 0 30px;
}
#map .wrap article h4{
    font-size: 42px;
    line-height: 1.1;
}
#map .wrap article h4:nth-of-type(2){ 
    margin-bottom: 40px;
}
#map .wrap article h4 span{
    font-size: 15px;
    font-weight: normal;
}
#map .wrap article p{
    font-size: 15px;
    line-height: 1.8;
}
#map .wrap article p span{
    margin-right: 30px;
}
#map .wrap article p span:first-child{
    margin-right: 45px;
}
#map .wrap article p span:last-child{
    margin-right: 40px;
}
#map .wrap article p:last-child strong{
    padding: 5px 10px;
    background: #ffed62;
    color: #333;
    font-size: 12px;
    margin-right: 20px;
}
#map .wrap article p:last-child{
    margin-top: 30px;
    color: #ffed62;
}
#map .wrap .inp_box{
    width: 470px;
    height: 220px;
    background-color: #232428;
    position: absolute;
    top:100px;
    right: 100px;
}
#map .inp_box form .fir{
    width: 160px;
    height: 35px;
    background: #fff;
    border: none;
    margin: 5px;
}
#map .inp_box form .sec{
    width: 250px;
    height: 35px;
    background: #fff;
}